<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <link type="text/css" rel="stylesheet" href="css/uikit.min.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <style type="text/css">
    html,
    body {
      height: 100%;
      overflow: hidden
    }

  </style>
</head>

<body class="uk-flex uk-flex-center uk-flex-middle uk-background-primary">
  <div class="uk-card uk-card-body uk-card-default uk-card-small uk-width-medium">
    <form action="/register" method="POST" onsubmit="return check()">
      <label class="uk-form-label">Username</label>
      <input class="uk-input" type="text" name="username">
      <label class="uk-form-label">Password</label>
      <input class="uk-input" type="password" name="password">
      <label class="uk-form-label">Password Confirm</label>
      <input class="uk-input" type="password" name="password-confirm">
      <button class="uk-margin-small-top uk-button uk-button-default uk-button-secondary uk-width-1-1" type="submit">Register</button>
    </form>
  </div>
  <script>
    function check() {
      if (document.getElementsByName('username')[0].value == '') {
        alert("Empty name!");
        return false;
      }
      if (document.getElementsByName('password')[0].value == '') {
        alert('Empty password!');
        return false;
      }
      if (document.getElementsByName('password-confirm')[0].value == '') {
        alert('Empty password confirm!');
        return false;
      }
      if (document.getElementsByName('password')[0].value != document.getElementsByName('password-confirm')[0].value) {
        alert('No match password!');
        return false;
      }
      return true;
    }

  </script>
</body>

</html>
